
<div class="container py-4">
  <div class="row justify-content-center">

    <div class="col-md-4">
        <div class="form-group row">
          <label for="input1"
          class="">input1</label>
            <input
              id="input1"
              type="text"
              class="form-control"
              [(ngModel)]='input1'
            />

        </div>
        <div class="form-group row">
          <label for="input2" class=""
            >input2</label
          >
            <input
              id="input2"
              type="text"
              class="form-control"
              [(ngModel)]='input2'
            />
        </div>
        <div class="form-group row">
          <label for="input3" class=""
            >input3</label
          >
            <input
              id="input3"
              type="text"
              class="form-control"
              [(ngModel)]='input3'
            />
          </div>

        <button class="btn btn-primary btn-block"(click)="onSubmit()">submit</button>

        <app-list [appItems]=items (removeItemIndexEvent)='removeItem($event)'></app-list>


      </div>

  </div>
</div>
